@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: Noto-Sans;
    src: url(./assets/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf);
    font-display: swap;
}

html {
    font-size: 100%;
}

/* #region CSS RESET by JOSH W COMEAU*/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
    padding: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

/* #endregion CSS RESET */

/* #region BODY STYLING */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: 'Noto-Sans', 'Noto Sans', sans-serif;
}

#mainContent {
    flex: 1;
}

ul {
    list-style: none;
}

/* #endregion BODY STYLING */

/* #region Scrollbar-styling */

::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #b8b8b8;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #929292;
}

/* #endregion Scrollbar-styling */

/* #region HEADER/NAVBAR STYLING */

#navBar {
    margin: auto;
    width: 80%;

    display: flex;
    justify-content: space-between;

    user-select: none;
}

#navBar>p {
    font-size: 2rem;
}

#navLinks {
    max-width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(20rem, 20vw, 40%);
}

/* #endregion HEADER/NAVBAR STYLING */

/* #region MAINCONTENT STYLING */

#mainContent {
    margin: auto;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#containerBlock {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    background-color: black;
}

.signBox {
    height: 10rem;
    aspect-ratio: 1;
    background-color: white;

    font-size: 7rem;
    font-weight: 100;

    display: flex;
    justify-content: center;
    align-items: center;
}

#statusBlock {
    margin-top: 1rem;
    border: 1px solid black;
    width: 100%;
    flex: 1;

    display: flex;
    max-width: 30rem;

}

#statusBlock>div {
    border: 1px solid black;
    flex: 1;
    padding: 0.25rem;
    max-width: 10rem;
}

#statusBlock p {
    white-space: nowrap;
    overflow-x: scroll;
}

/* #endregion MAINCONTENT STYLING */

/* #region DIALOG STYLING */

::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(0.25rem);
}

#playerDetailsMenu {
    margin: auto;
}

#playerDetailsMenu p {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
}

#playerDetailsMenu form {
    margin: 1rem;
}

#playerDetailsMenu fieldset {
    border: none;
}

#playerDetailsMenu li {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

#playerDetailsMenu button {
    width: 100%;
    padding: 0.125rem;
}

#playerDetailsMenu input {
    padding: 0.125rem;
}


/* #endregion DIALOG STYLING */

/* #region MEDIA QUERIES */

@media (max-width: 768px) {
    html {
        font-size: 80%;
    }

    #navBar {
        width: 95%;
    }

    #mainContent {
        padding: 0.5rem;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 70%;
    }

    #navBar {
        width: 100%;
        padding: 0.5rem;
    }
}

/* #endregion MEDIA QUERIES */
